#dashboard .ui-widget-overlay {background: #000000;opacity: .7;filter: Alpha(Opacity=30);position: fixed;top: 0;left: 0;width: 100%;height: 100%;}	
#dashboard .ui-corner-bottom,
#dashboard .ui-corner-top,
#dashboard .ui-corner-left,
#dashboard .ui-corner-right,
#dashboard .dashboard_content {overflow: auto;}
#dashboard .dashboard_content > table > tbody > tr {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
}

.evo-palette td {border: solid 1px #c0c0c0;}
.evo-palette-ie td {border: solid 1px #c0c0c0;}
.evo-colorind,.evo-colorind-ie,.evo-colorind-ff {border: solid 1px #c3c3c3;}
.evo-color div {border: solid 1px #808080;border-right: solid 1px #c0c0c0;border-bottom: solid 1px #c0c0c0;}
.evo-cHist div {border: solid 1px #c0c0c0;}

/* Dashboard
------------------------------------------------------------------------*/
#dashboard * {word-break: normal!important;}
#dashboard .dashboard_columnhelper { border: 1px dotted #CCCCCC;}
#dashboard .dashboard-button { background-color: #f5f5f5; border: 1px solid #FFFFFF; }
#content #dashboard {display: table}
#dashboard .ui-state-default, #dashboard .ui-widget-content .ui-state-default, #dashboard .ui-widget-header .ui-state-default {font-size: 1em!important;}
#dashboard .dashboard_column { float: left; }
#dashboard .dashboard_widgetinner .block .block {border: none; box-shadow: none;}
#dashboard .dashboard_row {width: 100%; height: inherit; padding: 0;}
#dashboard .dashboard_columncenter {height: inherit;}
#dashboard .ui-widget-content { border: none; }
#dashboard .dashboard_content.table { }					
#dashboard .dashboard_button_icon { width: 13px; height: 14px; background-repeat: no-repeat;float: left; background-image: url(../images/default/dashboardicons.png); }	
#dashboard .dashboard_button_iconplus { margin: 0.1em 0.4em; float: right; background-position: -65px 0px; }
#dashboard .dashboard_button_iconminus { margin: 0.1em 0.4em; float: right; background-position: -52px 0px; }
#dashboard .dashboard-button {	display: inline-block; padding: 0 .6em;	height: 1.5em; cursor: pointer;
					background-repeat:no-repeat !important; background-position: 3px; width: 14px; position: absolute;}
#dashboard .dashboard-button-defineDetails{right: 10px; top: 0.2em; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkY4NjYwOTg0NEJFQzExRTI4MjI3OTFCOEEyNzY2MzE2IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkY4NjYwOTg1NEJFQzExRTI4MjI3OTFCOEEyNzY2MzE2Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjg2NjA5ODI0QkVDMTFFMjgyMjc5MUI4QTI3NjYzMTYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjg2NjA5ODM0QkVDMTFFMjgyMjc5MUI4QTI3NjYzMTYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7i4cyWAAAAsElEQVR42mJgoCEwA+IPUGxGrKZkIE6AsjOB+D8UZyKJReHTDNOwGoifIPEfAvFGJH4gIQMIYZyuWI3mCm8oRhZfhCvA0pCcvRGLmnVI3klDD9gPaE50gopvRDLMG00NSA8DCw6vcELpX0hifwnFeRrUef+hzsXlhSfYvMCA5GTkQPSAYvTAxQoyyYlGJiQDviOxFwPxCyQ+iL0eh1oUEA7EfniSciySPG0yE8kAIMAAicRYTX3YPyoAAAAASUVORK5CYII=') !important;}
#dashboard .dashboard-button-setPosition{right: 45px; top: 0.2em; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAYUlEQVR4XtWRUQrAMAhDneyg9mT2ptugHRaCY/FnLJAveWKifCW7AS3Avlj2AmzrFUrDIYhgJNwvN4VcBDwiYC5/CyclBpDDoe2poATGEuegs3AswCUIk/8+pl2K8uE/6ATG4BstrVLVgQAAAABJRU5ErkJggg==') !important;}
#dashboard .dashboard-button-setPosition:not(.ui-state-disabled) {background-color: red !important;}
#dashboard .dashboard-button-goBack{right: 80px; top: 0.2em; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAZ0lEQVQ4jd3RMQqDQBBA0YekV0wj3v8QNqZTJBEtPY42K9l2p0s+TDHF/zAMf8kTE4aovOPEp1TucGRyE5XXUhnmJJfMCFUKVMp55EuLzfeENhBUY0mRA30kkr/xHQnckQWvaODHuADAUSEXjMLoMwAAAABJRU5ErkJggg==') !important;}
#dashboard .dashboard-button-editTab{right: 115px; top: 0.2em; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOklEQVR42o3SPUhCURjG8WPR1tBgU23SEEH0AUFDSURDtFU4FOQSQh9LlDgEUdSiU7QUuSq0RCAIYhTl0JCUIEFLRUQ1NLWIEGX9D74XRPJ4XvjB5V7Oc8597nUpuxnDBDbxWfnAZbG4Ce9w4xmzuLINaEALlrGBRnxjCzs2AWF4MA0vYmjHL7pwbwoYRxz9COABJ9jDG0KmE7Qhh0U5chR9mJSQF1MH+j3PcYcIbuFHM3bRjQ9TwLZ8smGcSuP7yMIn91StgFEcYwDzUpy+d4kU1qt3qwxoRR6rqvyzxKTAFfRgBD+mAF3clJxAF7iAEg7Ri9f/2nYCBmXBkjTdiQPcYA7JWt/aCdDveoFHzOAaR7LrmjJMdYCeL1X+baPSRckmYAgZuS4gLTs/qTrjBHQgiATOUKy30Jk/KjtDEXVEBowAAAAASUVORK5CYII=');}
#dashboard .ui-button {display: inline-block;line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible;}
#dashboard .ui-button .ui-button-text {display: block;line-height: normal;}
#dashboard .ui-button-text-only .ui-button-text {padding: .4em 1em;}
#dashboard .ui-resizable { position: relative; }
#dashboard .ui-resizable-handle { position: absolute; font-size: 0.1px; }
#dashboard .ui-resizable-se { cursor: se-resize;width: 12px; height: 12px; right: 1px;bottom: 1px; background-image: url('data:image/gif;base64,R0lGODlhEAAQAIABAJOnY////yH5BAEAAAEALAAAAAAQABAAAAIZjI+py+0IwDtx2ktlqI1zDCae9mXGGKZgAQA7');}
#dashboard .ui-sortable-placeholder {visibility: visible !important; height: 25px !important; width: 150px;}
#dashboard .dashboard_tabcontent {width: 100%; padding: 0; margin: 0; }
#dashboard .dashboard_widget {margin: 3px; float: left; background: none!important; min-width: 300px!important;} 
#dashboard .dashboard_widgetheader {	display: block;
	width: 290px;
	font-size: 1em;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
	line-height: 23px;
	border-top-left-radius: 1px;
    border-top-right-radius: 1px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }			
#dashboard .ui-widget .ui-widget {font-size: 1em;}
#dashboard .ui-helper-clearfix:before,
#dashboard .ui-helper-clearfix:after {content: "";display: table;border-collapse: collapse;}
#dashboard .ui-helper-clearfix:after {clear: both;}
#dashboard .ui-helper-clearfix {min-height: 0;}
#dashboard .ui-helper-reset {margin: 0;padding: 0;border: 0;outline: 0;line-height: 1.3;list-style: none;}
#dashboard .ui-tabs {position: relative;padding: 0px;}
#dashboard .ui-tabs .ui-tabs-panel {display: block;border-width: 0;background: none;box-shadow: 0 0 0 0;border-radius: 0; padding: 0;}
#dashboard .ui-tabs .ui-tabs-nav {margin: 0;padding: 0.2em 140px 0.2em 0.2em;background-image: none;}
#dashboard .ui-tabs .ui-tabs-nav li {list-style: none;float: left;position: relative;top: 0;margin: 0px .1em!important;padding: 0;}
#dashboard .ui-tabs .ui-tabs-nav li a {float: none;padding:0;}
#dashboard .ui-tabs .ui-tabs-nav .ui-tabs-anchor {float: left;padding: .1em .5em;}
#dashboard .ui-tabs-icon {width: 23px;height: 23px; margin: -8px 2px -6px -3px; padding-right: 2px;/*float: left;vertical-align: top;margin-left: 0.3em;margin-top: 0.5em;*/}
#dashboard .dashboard_tab:not(.ui-state-active) {border: 1px solid transparent!important; background: none!important;}
#dashboard .ui-state-disabled {opacity: .35;filter:Alpha(Opacity=35);}
#dashboard .dashboard_rowcenter { position: relative; }
#dashboard .dashboard_tab a:focus {outline: 0!important; }
#dashboard .dashboard_tab.ui-state-default {border: none!important; background: none;}
#dashboard a:hover {font-weight: inherit!important;}


/* Dashboard Dialog
------------------------------------------------------------------------*/	
#dashboard-dialog .ui-widget-content { border: none; }
#dashboard-dialog .dashboard_tab.ui-state-default {border: none!important}
#dashboard-dialog .dashboard_tab a:focus {outline: 0; }
#dashboard-dialog .ui-tabs {position: relative;padding: 0px;}
#dashboard-dialog .ui-tabs {position: relative;padding: 0px;}
#dashboard-dialog .ui-tabs .ui-tabs-panel {display: block;border-width: 0;background: none;box-shadow: 0 0 0 0;border-radius: 0; padding: 0;}
#dashboard-dialog .ui-tabs .ui-tabs-nav {margin: 0;background-image: none;}
#dashboard-dialog .ui-tabs .ui-tabs-nav li {list-style: none;float: left;position: relative;top: 0;margin: 0px .1em!important;padding: 0;}
#dashboard-dialog .ui-tabs .ui-tabs-nav li a {float: none;padding:0;}
#dashboard-dialog .ui-tabs .ui-tabs-nav .ui-tabs-anchor {float: left;padding: .1em .5em;}
#dashboard-dialog .ui-tabs-icon {width: 23px;height: 23px; margin: -8px 2px -6px -3px; padding-right: 2px;/*float: left;vertical-align: top;margin-left: 0.3em;margin-top: 0.5em;*/}
#dashboard-dialog .dashboard_tab:not(.ui-state-active) {border: 1px solid transparent!important; background: none!important;}
#dashboard-dialog .ui-button {display: inline-block;line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible;}


/* Colorpicker 
------------------------------------------------------------------------*/
.evo-pop {-index: 10000; width: 204px;padding: 3px 3px 0;border: 1px solid;}
.evo-pop-ie {z-index: 10000;width: 212px;padding: 3px;}
.evo-palette td {font-size: 1px;border: solid 1px #c0c0c0;padding: 7px;cursor: pointer;}
.evo-palette tr.top td {border-bottom: 0;}
.evo-palette tr.in td {border-top: 0;border-bottom: 0;}
.evo-palette tr.bottom td {border-top: 0;}
.evo-palette div.sep {height: 3px;}
.evo-palette,.evo-palette-ie {border-collapse: separate;border-spacing: 4px 0px; *border-collapse: expression('separate', cellSpacing='2px');}
.evo-palette th,.evo-palette-ie th {border: 0;padding: 5px 3px;text-align: left;font-weight: normal;background: transparent !important;}
.evo-palette-ie td {font-size: 1px;padding: 7px;cursor: pointer;}
.evo-palette2,.evo-palette2-ie {margin: auto;border-collapse: collapse;}
.evo-palette2 td,.evo-palette2-ie td {font-size: 1px;cursor: pointer;}
.evo-palette2 td {padding: 6px 7px;}
.evo-palette2-ie td {padding: 5px;}
.evo-palcenter {padding: 5px;text-align: center;}
.evo-colorind,.evo-colorind-ie,.evo-colorind-ff {width: 20px;height: 20px;float: right; margin-top: 3px;}
.evo-colorind {position: relative;top: 2px;}
.evo-colorind-ie {position: relative;top: -23px;}
.evo-colorbox-ie {font-size: 8px;padding: 3px 9px !important;}
.evo-colortxt-ie {position: relative;top: -6px;}
.evo-pop:after,.evo-pop-ie:after,.evo-colorind:after,
.evo-colorind-ie:after,.evo-colorind-ff:after,.evo-color span:after,
.evo-cHist:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0;}
.evo-color {width: 94px;padding: 1px 3px 0 4px;}
.evo-color div {padding: 3px;margin-bottom: 5px;width: 10px;height: 10px;float: left;}
.evo-color span {font-size: 15px;margin: 1px 0 4px 3px;float: left;}
.evo-sep {height: 10px;font-size: 0;}
.evo-more {padding: 4px 5px 4px;font-size: smaller;}
.evo-cHist {padding: 3px;}
.evo-cHist div {cursor: pointer;padding: 3px;margin: 5px;width: 10px;height: 10px;float: left;}
a.evo-hist {margin-left: 6px;}
.evo-pointer {cursor: pointer;visibility:hidden;position:absolute;}

/* Remove padding from readingsGroup and make it 100% wide */
#dashboard td table.readingsGroup {
  padding: 0px;
}

#dashboard td table {
  width: 100%;
}

#dashboard .dashboard_dev_container {
  padding: 0px;
}

#dashboard .dashboard_dev_container > table > tbody > tr > td {
  padding: 0px;
}

body.dashboard_fullsize #menuScrollArea {
  display: none;
}

body.dashboard_fullsize #hdr {
  display: none;
}

body.dashboard_fullsize {
  background-image: none;
}

body.dashboard_fullsize #content {
  position: inherit !important;
  overflow: visible !important;
  float: none !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  border: none !important;
}

.dashboard_widgetheader svg {
  margin-right: 5px;
}
