/******************************
###############################
          Allgemein 
###############################
******************************/
/* Standart Schrift */
* {	font-family: "Lato", sans-serif; border-collapse: collapse; }
a {	text-decoration: none; }
/* clear margin/padding */
table, tbody, tr, td, div {
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-spacing: 0px;
	display: block;
	max-width: 100%;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
}
tbody{ vertical-align: top; }
/* Hintergrundfarbe */
body {
	background-attachment:fixed;
	background-repeat:no-repeat;
	display: none;
}
html, body, body > form{
	position: absolute;
	margin:0;
    padding:0;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
textarea {
	padding: 0;
	margin: 0;
	width: 100%!important;
	font-size: 1em;
	resize: vertical;
	white-space: nowrap;
}
* {vertical-align: inherit;	box-sizing:border-box;}
input { font-size: 0.9em; margin: 0; padding: 0;}
select { margin: 0; -webkit-appearance: menulist; padding-left: 3px; padding-right:3px;}
#content input[type=submit]{-webkit-appearance: button; height: 100% }

/******************************
###############################
            Menü 
###############################
******************************/
#menuScrollArea {
	z-index: 30;
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 300px;
	max-width: 300px;
}
#menuScrollArea.hidden { left: -300px; }
#menuScrollArea, #content.hidden, #hdr.hidden { left: 0px; }
#contentOverlay, #contentOverlay.hidden { 
	visibility: hidden;
	background: none; 
	z-index: 29; 
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.5s;
}

#content, #hdr { left: 300px; }
#menu {
    position: absolute;
    top: 50px;
	bottom: 0px;
    width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
#menu table{ width: 100%; }
#menu div {	padding: 4px 8px; }
@media all and (max-width: 900px) {	
	#menu div {	padding: 8px; }
	#content, #hdr { left: 0px; }
	#contentOverlay { visibility: visible; background: rgba(0,0,0,0.3); };
}
/* Hyperlinks */
#menu a {
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  cursor: pointer;
}
#menu .sel a { font-weight: bold; }
/* Icon Leiste */
#menuIcons {
	left: 0;
	top: 0;
	padding: 10px 8px 10px 8px;
	height: 50px; 
}
#menuIcons svg {
	height: 30px;
	width: 30px;
}
#menuIcons a { display: inline-block; padding: 0px 3px; }
#menuIcons .closebtn {
	visibility: hidden;
	cursor: pointer;
	position: absolute;
	top: 0;
	padding: 3px;
	right: 0px;
	height: 50px;
	font-size: 1.5em;
}
@media all and (max-width: 900px) {	
	#menuIcons .closebtn { visibility: visible; }
}
/* Menü Einträge */
#menu svg, #menu img{
	position: relative;
	min-width: 1.2em;
	max-width: 1.2em;
	max-height: 1.2em;
}
/* Room groups*/
.menuTree a {display: inline-block!important;}
#logo {display:none;}


/* hide "Remote doc" and "Edit files" link */
/*.roomBlock3 tr:nth-child(3),.roomBlock3 tr:nth-child(4){
	display: none;
}*/


/******************************
###############################
         Command line 
###############################
******************************/
#hdr {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 50px;
	overflow: hidden;
	z-index: 20;
}
#hdr form{ height: 100%; width: 100%; display: flex; justify-content: flex-start}
#hdr table { width: 100%; }
/* Fhem Commando Zeile */
#hdr input {
	height: 100%;
	border: none!important;
	width: 100%;
	margin: 0px;
	font-size: 1.2em;
}
/* Placeholder Farbe */
#hdr #cmdInput input::placeholder { opacity: 1; }
#cmdInput {
	flex: 1 1 0;
}
#rawBtn, #menuBtn {
	flex: 0 0 30px;
	cursor: pointer;
	height:30px;
	margin: 10px;
}
/* show display inner tables als tables*/
.ui-widget table, .even table, .odd table, #content > table:nth-child(n+2), #content > table:nth-child(n+2) table {display: table;}
.ui-widget tbody, .even tbody, .odd tbody, #content > table:nth-child(n+2) tbody {display: table-row-group;}
.ui-widget tr, .even tr, .odd tr, #content > table:nth-child(n+2) tr {display: table-row;}
.ui-widget td, .even td, .odd td, #content > table:nth-child(n+2) td {display: table-cell;}

/* modify ui-dialog */
.ui-dialog { 
	border-top-left-radius: 0!important;
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0!important;
	padding: 0!important;
}
.ui-dialog td { padding: 4px; }
.ui-dialog-titlebar { 
	border: 0px!important; 
	border-top-left-radius: 0!important;
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0!important;
}
.ui-button, .ui-selectmenu-button { 
	border-top-left-radius: 0!important;
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0!important;
}
.ui-icon-closethick {
	background-image: url(images/ui-icons_ffffff_256x240.png)!important;
}
.ui-dialog input { 
	width: 100%;
}
.ui-state-hover:not(button), .ui-widget-content .ui-state-hover:not(button), .ui-widget-header .ui-state-hover:not(button), .ui-state-focus:not(button), .ui-widget-content .ui-state-focus:not(button), .ui-widget-header .ui-state-focus:not(button) {
	border: unset!important;
    background: unset!important;
    font-weight: normal!important;
}
li.ui-state-focus, .ui-menu li.ui-state-active {margin: unset!important;}
.ui-state-hover a, .ui-state-hover a:hover {color: unset!important;}

.ui-autocomplete li.ui-state-focus {font-weight: bold!important;}
.ui-autocomplete li {word-break: break-word;}


/******************************
###############################
            Content 
###############################
******************************/
body > form {
	z-index: 10;
	position: fixed;
	/*top: 50px;*/
	bottom: 0px;
}
#content {
	z-index: 10;
	position: absolute;
	padding: 10px;
	top: 50px;
	right: 0px;
	bottom: 0px;
	overflow-y: scroll;
	overflow-x:  auto;
	-webkit-overflow-scrolling: touch;
}
#content .deviceWrapHelper {
	-moz-column-count: 2;
    column-count: 2;
	column-gap: 0px;
}
#content .deviceWrapHelper.singleCol {
	-moz-column-count: 1;
    column-count: 1;
}
#content .deviceWrapHelper > *, #content > :nth-child(n+2), #content > table:first-child > tbody > tr > td > :not(.deviceWrapHelper) {
	margin: 10px;
}
#content .deviceWrapHelper > * {
	float: left;
	width: 100%;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
}
@media all and (max-width: 900px) {	
	#content { padding: 0px 0px 20px 0px; }
}
@media all and (max-width: 350px) {
	#content .deviceWrapHelper > *, #content > :nth-child(n+2), #content > table:first-child > tbody > tr > td > :not(.deviceWrapHelper) { margin-left: 0px; margin-right: 0px; }
}
#content > table > tbody > tr > td > br, #content > br {display:none;}
/* Icons skalieren */
#content svg:not([id^=SVGPLOT]), #content img.icon, #content .col2 img{
	max-width: 1.35em;
	max-height: 1.35em;
	margin-top: -0.2em;
    margin-bottom: -0.15em;
	vertical-align: middle;
}
/* Hyperlink-Farbe */
#content a { cursor: pointer; }


/******************************
###############################
Room overview / Device Details 
###############################
******************************/
/* Tabellen Titel */
#content .devType, #content .makeTable > span:first-child, #content div.fileList {
	display: block;
	width: 290px;
	font-size: 1em;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
	line-height: 23px;
	border-bottom: none;
}
#content .block .devType, #content .block .makeTable > span:first-child, #content .block div.fileList {
	background: none;
	width: unset;
	border-left: none;
	border-right: none;
	border-top: none;
}
.even table td, .odd table td{border: none!important;}
.devTypeTr:first-child .devType, .makeTable:first-child{ margin-top: 0px; }
/* Tabellen Border */
/* Zeilen abwechselnd färben */
.even td::-webkit-scrollbar, .odd td::-webkit-scrollbar { display: none; }

/***** Allgemein *****/
/* Minimale Tabellen-Breite */
#content > table {	height: auto; min-width: 300px; }
/* Jede Zeile ist ein Flex-Container */
.odd, .even {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
/* Allgemeine Zellen definition */ 
.odd td, .even td, .ui-widget td, #content > table:nth-child(n+2) td {
	padding: 0.25em 0.5em 0.25em 0.5em;
	white-space: normal;
	word-break: break-word;
	scrollbar-width: none;
}
@media all and (max-width: 900px) {	
	.odd td, .even td, .ui-widget td, #content > table:nth-child(n+2) td {
		padding: 0.6em;
	}
	#content svg:not([id^=SVGPLOT]), #content img.icon, #content .col2 img{
		max-width: 1.65em;
		max-height: 1.65em;
		margin-top: -0.35em;
		margin-bottom: -0.25em;
		vertical-align: middle;
	}
}
/* <pre>/<div> Inhalt formatieren */
.odd pre, .even pre {
	white-space: pre-wrap;
	word-break: break-word;
	text-align: left;
	margin: 0;
}
.odd div, .even div { display: inline-block; }

/* Erste Spalte immer fett */
.odd > td:nth-child(1), .even > td:nth-child(1) { font-weight: bold; }
.odd > td:nth-child(n+2), .even > td:nth-child(n+2) { font-weight: normal; }

/***** Internals / Flex Settings******/
.internals .odd > td:nth-child(1), .internals .even > td:nth-child(1),
.fileList .odd > td:nth-child(1), .fileList .even > td:nth-child(1) {
	flex: 10 1 0;
	min-width: fit-content;
	min-width: -moz-fit-content;
	max-width: 350px;
	
}
.internals .odd > td:nth-child(n+2), .internals .even > td:nth-child(n+2),
.fileList .odd > td:nth-child(n+2), .fileList .even > td:nth-child(n+2) {
	flex: 1 10 0;
	min-width: fit-content;
	max-width: fit-content;
	min-width: -moz-fit-content;
	max-width: -moz-fit-content;
}
.internals td.wrapped, .fileList td.wrapped {
	max-width: unset!important;
	text-align: right;
}
/* DEF box */
.internals > tbody > tr:not(.odd):not(.even) form { padding: 5px 7px 5px 5px; }
.internals textarea { white-space: pre-wrap; word-break: break-word; }

/***** Readings / Attributes / Probably associated with ******/
table.readingsGroup {width: 100%; border: none;}
.readings      .odd > td:nth-child(1), .readings      .even > td:nth-child(1),
.attributes    .odd > td:nth-child(1), .attributes    .even > td:nth-child(1),
.assoc         .odd > td:nth-child(1), .assoc         .even > td:nth-child(1),
.readingsGroup .odd > td:nth-child(1), .readingsGroup .even > td:nth-child(1) {
	flex: 10 1 0;
	min-width: fit-content;
	min-width: -moz-fit-content;
	max-width: 350px;
}
.readings      .odd > td:nth-child(2), .readings      .even > td:nth-child(2),
.attributes    .odd > td:nth-child(2), .attributes    .even > td:nth-child(2),
.assoc         .odd > td:nth-child(2), .assoc         .even > td:nth-child(2),
.readingsGroup .odd > td:nth-child(2), .readingsGroup .even > td:nth-child(2) {
	flex: 1 10 0;
	min-width: fit-content;
	min-width: -moz-fit-content;
}
.readings      .odd > td:nth-child(3), .readings      .even > td:nth-child(3),
.attributes    .odd > td:nth-child(3), .attributes    .even > td:nth-child(3),
.assoc         .odd > td:nth-child(3), .assoc         .even > td:nth-child(3),
.readingsGroup .odd > td:nth-child(n+3), .readingsGroup .even > td:nth-child(n+3) {
	flex: 1 10 0;
	min-width: fit-content;
	max-width: fit-content;
	min-width: -moz-fit-content;
	max-width: -moz-fit-content;
	text-align: right;
	font-style: italic;
}
.readings td.wrapped, .attributes td.wrapped, .assoc td.wrapped, .readingsGroup td.wrapped {
	max-width: unset!important;
	text-align: right;
}

/***** Room Overview / Device Overview *****/
.col1, .col2, .col3, .col4, .col1 > div, .col2 > div, .col3 > div, .col4 > div { width: 100% }


.odd > td:nth-child(1), .even > td:nth-child(1),
.devTypeTr .odd > td:nth-child(1), .devTypeTr .even > td:nth-child(1),
#ddtable .odd > td:nth-child(1), #ddtable .even > td:nth-child(1) {
	flex: 10 1 0;
	min-width: fit-content;
	min-width: -moz-fit-content;
	max-width: 350px;
}
.odd > td:nth-child(1), .even > td:nth-child(1) {
	max-width: 100%;
}
.roomoverview .odd > td[informid^=SVG],.roomoverview .even > td[informid^=SVG] {
	min-width: unset;
	max-width: 100%;
}
.roomoverview .odd > td[informid^=SVG] .SVGlabel,.roomoverview .even > td[informid^=SVG] .SVGlabel {
	background: none;
	border: 0px;
	width: fit-content;
	width: -moz-fit-content;
	padding: 0px;
	padding-bottom: 10px;
	text-align: left;
}
.roomoverview .odd > td:nth-child(2), .roomoverview .even > td:nth-child(2),
#ddtable .odd > td:nth-child(2), #ddtable .even > td:nth-child(2) {
	flex: 1 10 0;
	min-width: fit-content;
	min-width: -moz-fit-content;
	max-width: 180px;
}
@media all and (max-width: 500px) {
	.roomoverview .odd > td:nth-child(2), .roomoverview .even > td:nth-child(2),
	#ddtable .odd > td:nth-child(2), #ddtable .even > td:nth-child(2) {
		text-align: right;
	}
}
.roomoverview .odd > td:nth-child(2).wrapped, .roomoverview .even > td:nth-child(2).wrapped,
#ddtable .odd > td:nth-child(2).wrapped, #ddtable .even > td:nth-child(2).wrapped {
	text-align: right;
}
.roomoverview .odd > td:nth-child(n+3), .roomoverview .even > td:nth-child(n+3),
#ddtable .odd > td:nth-child(n+3), #ddtable .even > td:nth-child(n+3) {
	flex: 1 10 0;
	min-width: fit-content;
	max-width: fit-content;
	min-width: -moz-fit-content;
	max-width: -moz-fit-content;
	text-align: center;
}
.roomoverview td.wrapped, #ddtable td.wrapped {
	min-width: fit-content!important;
	min-width: -moz-fit-content!important;
	max-width: unset!important;
}
/*@media all and (max-width: 500px) {
	.roomoverview .odd > td:nth-child(3), .roomoverview .even > td:nth-child(3),
	#ddtable .odd > td:nth-child(3), #ddtable .even > td:nth-child(3) {
		flex: 1 10 100%;
		min-width: fit-content!important;
		min-width: -moz-fit-content!important;
		max-width: unset!important;
	}
}*/
table.readingsGroup {border: none}
.block table.readingsGroup {border-left: none!important; border-right: none!important;}

/***** Plot Editor ******/
.plotEditor select { height: unset; }
.plotEditor .odd > td:nth-child(1), .plotEditor .even > td:nth-child(1) {
	flex: 1 1 30%;
	max-width: 250px;
	min-width: 250px;
	white-space: nowrap;
}
.plotEditor .odd:nth-last-child(1) > td:nth-child(1),.plotEditor .even:nth-last-child(1) > td:nth-child(1),
.plotEditor .odd:nth-last-child(2) > td:nth-child(1),.plotEditor .even:nth-last-child(2) > td:nth-child(1)  {
	max-width: unset!important;
}
.plotEditor .odd > td:nth-child(2), .plotEditor .even > td:nth-child(2) {
	flex: 1 1 1%;
	min-width: 300px;
	max-width: fit-content;
	max-width: -moz-fit-content;
}
.plotEditor .odd > td:nth-child(3), .plotEditor .even > td:nth-child(3) {
	flex: 1 1 1%;
	min-width: 150px;
}
.plotEditor .wrapped input:not([type^=checkbox]), .plotEditor .wrapped select { width: unset!important; }


/* rawDef */
#rawDef { padding: 4px 8px 4px 8px;}

/***** Icons/Widgets/Select/Input richtig skalieren *****/
.odd td:nth-child(n+2) svg:not([id^=SVGPLOT]), .even td:nth-child(n+2) svg:not([id^=SVGPLOT]), .odd td:nth-child(n+2) img, .even td:nth-child(n+2) img{
	width: auto;
	min-width: 1em;
	max-width: none!important;
}
td.wrapped input:not([id^=knob]):not([type^=checkbox]), td.wrapped select, td.wrapped .slider, select.wrapped, .colorpicker_widget.wrapped, .slider_widget.wrapped, div.wrapped { width: 100%!important; }
.makeSelect .wrapped > input, .makeSelect input.wrapped  { width: 100%!important; }
.wrapped > select, select.wrapped { text-align: right; text-align-last: right; }
.roomoverview input, #ddtable input { height: 100%; }
input[type=submit],#addRegexpPart,#eventReset, button.ui-button {
	padding-left: 4px;
	padding-right: 4px;
	min-width: 50px;
}
.slider {
	position: relative;
	float:left;
	width:100%;
	min-width: 150px;
	height:100%;
	text-align: left;
	min-width: 150px;
	line-height: 1em;
}
.handle {
	display: inline-block;
	position: relative;
	cursor:pointer;
	padding-left: 2px;
	padding-right: 2px;
	min-width: 1.7em;
	height: 100%;
	font-size: 0.89em;
	line-height: 100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-user-select:none;
	text-align:center;
	vertical-align: baseline;
}
.colorpicker_widget[informid]:not([title]):not([tabindex]):not(.colorpicker) {
	height: 1.1em!important;
}
.colorpicker_widget > br {
	display: none;
}
.wrapped .colorpicker_widget > br {
	display: block;
}
.colorpicker_widget > div:nth-child(n+2) {
	margin-left: 5px;
}
.wrapped .colorpicker_widget > div:nth-child(n+2) {
	margin-top: 2px;
	margin-left: 0;
}
.colorpicker_widget > input {
	width: 100%;
}

/***** SET/GET/ATTR *****/
.makeSelect form {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
	justify-content: flex-start;
}
.makeSelect form > * {
	margin: 0px 1px 0px 1px;
}
.makeSelect form > .wrapped { margin-top: 4px; }
.makeSelect[cmd=set], .makeSelect[cmd=get], .makeSelect[cmd=attr] {
	padding: 10px;
	margin-top: 20px;
}
.downText { display: none;}



/* detLinks */
div.detLink {
	display: inline-block;
	min-width: fit-content;
	max-width: fit-content;
	min-width: -moz-fit-content;
	max-width: -moz-fit-content;
	padding: 8px;
	margin-top: 8px;
}
div.detLink.iconFor {
	margin-top: 20px;
}


/******************************
###############################
           WIDGETS 
###############################
******************************/
.colorpicker_ct .slider { background: url(../jscolor/ct_background.svg); }
.colorpicker_ct_mired .slider { background: url(../jscolor/ct_mired_background.svg); }
.colorpicker_sat .slider { background: url(../jscolor/ct_mired_background.svg); }
.colorpicker_hue .slider { background: url(../jscolor/hue_background.svg); }
.slider_widget[title=sat] .slider { background: url(../jscolor/ct_mired_background.svg); }
.colorpicker_ct .slider, .colorpicker_ct_mired .slider, .colorpicker_hue .slider, .slider_widget[title=sat] .slider, .colorpicker_sat .slider {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.ui-buttonset > *, .uzsuTimerEntry_widget .ui-selectmenu-button, .uzsuTimerEntry_widget .uzsuToggle > *, .uzsuTimerEntry_widget .ui-button {
	max-height: 1.02em!important;
	margin: 0 0.1em!important;
	padding: 0!important;
}
.ui-buttonset > *, .ui-button-text, .ui-selectmenu-text {
	padding: 0 0.4em!important;
	height: 1.02em!important;
	line-height: 1.02em!important;
}
.ui-selectmenu-button span.ui-icon {
	right: 0.3em;
}
.ui-selectmenu-button span.ui-selectmenu-text {
	padding-right: 1.5em!important;
}
.uzsuTimerEntry > * { margin: 0!important;}


/******************************
###############################
           Commandref 
###############################
******************************/
body.commandref #right{
	z-index: 10;
	position: absolute;
	padding: 20px 20px 20px 20px;
	left: 300px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	word-break: break-word;
}
body.commandref #right pre, #devSpecHelp pre {
	white-space: pre-wrap;
	word-break: break-word;
	text-align: left;
}
body.commandref #menuScrollArea { left: 0px!important; }
@media all and (max-width: 900px) {	
	body.commandref #menuScrollArea { left: -300px!important; }
	body.commandref #right { left: 0px!important; }
}
#devSpecHelp > ul {
	/*padding-inline-start: 0px;*/
	word-break: break-word;
}
#devSpecHelp { padding: 4px 8px 4px 8px;}

/******************************
###############################
    Event Monitor / Logfile
###############################
******************************/
#content #console{
	word-break: break-word;
	white-space: normal;
}
#content pre.log{
	word-break: break-word;
	white-space: pre-line;
}

/******************************
###############################
        Select Icon
###############################
******************************/
button.dist {
	background-color: #fff;
	border: 1px solid #000;
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 2px;
	font-weight: bold;
}
button.dist svg, button.dist img{
	background: #fff;
	max-width: 30px;
	max-height: 30px;
	fill: #000;
}
input.iconTable {
	border: 1px solid #000; /*widget border*/
	display: inline-block;
	width: 50%;
	min-width: 300px;
	font-size: 1em;
	padding: 4px;
	margin-bottom:20px;
}

/******************************
###############################
        Checkboxen
###############################
******************************/
input[type="checkbox"] {
	width: 1em;
	height: 1em!important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
/******************************
###############################
          SVG Plots
###############################
******************************/
.SVGlabel[data-name=svgZoomControl] {
	display: inline-block; 
	padding: 0.25em 0.5em; 
	max-width:fit-content; 
	max-width:-moz-fit-content;
}
.SVGlabel[data-name=svgZoomControl]:before {content: 'Plot control: '; } 
@media all and (max-width: 900px) { 
	.SVGlabel[data-name=svgZoomControl] {padding: 0.6em;}
	.SVGlabel[data-name=svgZoomControl] a { padding-left: 10px; padding-right: 10px; }
}
@media all and (max-width: 500px) {
	.SVGlabel[data-name=svgZoomControl]{max-width: unset; display: block; text-align: center;margin-bottom:unset;}
}
.SVGlabel:not([data-name=svgZoomControl]) a { visibility: hidden; word-spacing:-999px; letter-spacing: -999px; }
.SVGlabel:not([data-name=svgZoomControl]) a::after {
	content: 'Bearbeiten';
	visibility: visible;
	word-spacing:normal;
	letter-spacing:normal;
	font-weight: bold;
}
.SVGlabel:not([data-name=svgZoomControl]){ position: relative; margin-top: -10px!important;}
div.SVGplot { width: 100%; }
#content div.SVGplot { overflow-x: scroll; scrollbar-width: none; }
div.SVGplot > svg { display: block; }
div.SVGplot text {font-family: "Lato", sans-serif;}
div.SVGplot text { font-size:1em!important;}
div.SVGplot text.title { font-size:1.2em!important; }
div.SVGplot text.title { font-weight: bold!important; }
.SVGplot text.SVGplot { stroke:none!important; }
.SVGplot.l0dot,.SVGplot.l1dot {stroke-dasharray:2,4!important;}
.SVGplot .vgrid, .SVGplot .hgrid { stroke-dasharray:2,6!important; }
.SVGplot .pasted  { stroke-dasharray:1,1!important; }
path.SVGplot,rect.SVGplot,polyline.SVGplot { stroke:black; fill:none; }
text.legend { cursor:pointer!important; }
circle#svgmarker { opacity:0.5!important; }
div#svgmarker { position: absolute!important;}


/* Menu */
#fwmenu {
  position: absolute; z-index:1005;
  text-align:left; max-width:600px;
  font-weight: normal; font-size: 100%; 
}
.ui-widget-content a { cursor: pointer; }
.ui-widget-content a:hover { cursor: pointer; font-weight: normal; }


/******************************
###############################
          Tooltip
###############################
******************************/
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip > svg {
	width: 1em;
	height: 1em;
}

.tooltip .tooltiptext {
	visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 0;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
  opacity: 1;
}


/******************************
###############################
          Sonstiges
###############################
******************************/
#content table.weather, #content table.weather td {
	display: block;
}
#content table.weather .weatherIcon {
	text-align: center;
	width: 100%;
}
#content table.weather > tbody {
	display: flex;
	font-weight: normal;
	overflow-x: scroll;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
}
#content table.weather > tbody > tr {
	flex: 1 1 0;
}

.wraphelper { flex: 1 1 100%!important; height: 0!important; padding: 0!important; min-width: 100%!important; max-width: 100%!important;}


/* hide scrollbars */
:not(#content)::-webkit-scrollbar {width: 0;}

.CodeMirror { width: unset!important; }
.CodeMirror-scroll { padding-bottom: 0!important; }
#FW_mainTextInput > textarea[style*="none"] { display: inline-block!important; visibility: hidden!important; height: 0}